* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai Looped';
}

/* setting the page as flex */
.container {
    padding: 1vw 7.5vw 0vw 7.5vw ;
    display: flex;
}

.menu-bar {
    width: 17.84vw;
}



.feed-section {
    width: 42vw;
    border-color: black;
    border-right: 2px;
    border-left: 2px;
}
/* Ellipse 5 */
.column-flex {
    display: flex;
    flex-direction: column;
}

.top-section > div {
    margin-bottom: 2vw;
}


.logo > img {
    position: absolute;
    width: 30px;
    height: auto:
}

.flex {
    display: flex;
    position: relative;
}

.user-pic > img {
    border-radius: 200px;
    height: 50px;
}

.tweep-picture > img {
    border-radius: 200px;
    height: 4vw;
}

.tweet > button {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    position: relative;
    width: 16vw;
    height: 3.4vw;
    border-radius: 50px;
    border: 0cm;
}


/* Search Twitter */
.search-section {
    position: relative;
    width: 24vw;
}

.search-button {
    position: relative;
    background: #D9D9D9;
    border-radius: 50px;
    width: 24vw;
    height: 3.4vw;
    border: 0cm;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    align-items: center;
    padding: 0vw 2vw;
}

.search-button > img {
    width: 17px;
    height: auto;
    align-self: left;
    margin-right: 1vw;
}

.follow > button {
    position: relative;
    width: 5vw;
    height: 2vw;
    background: #D9D9D9;
    border-radius: 50px;
    border: 0cm;
    position: absolute;
    left: 88.18%;
    right: -2.7%;
    top: 34%;
    bottom: 20%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
}

.who-to-follow {
    padding: 1vw 2vw;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
}

 .choices {
    position: relative;
    padding: 1vw 2vw 1vw 0vw;

 }
